body{
    background:whitesmoke;

}
#title, .Topicos, .post_title {
    color: black;
}

#title {
    margin-left: 0;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin-left: 15px;
}
.Topicos {
    background:white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}
.texto {
    text-align:justify;
    margin: 0;
    margin-bottom: 15px;
}

.foto {
    margin-bottom: 15px;
}
.minha_foto{
    border-radius: 50%;
    border: 1px solid black;
}