body{
    background:whitesmoke;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;

}
#title, .Topicos, .post_title {
    color: black;
}

#title {
    margin-left: 0;
    font-size: 40px;
    text-transform: uppercase;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin-left: 15px;
}
.Topicos {
    background:white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}
.texto {
    text-align:justify;
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.foto {
    margin-bottom: 15px;
    width: 100%;
}
.minha_foto{
    border-radius: 50%;
    border: 1px solid black;
}

.list {
    list-style-type: none;
    padding-left: 15px;
}

a {
    color: black;
    text-decoration: none;
}